section.intro {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: #fff;
    padding: 3rem 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}
section.intro::before {
    position: absolute;
    content: '';    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
section.intro h1 {
    font-size: 6rem;
}
section.intro p {
    font-size: 2.5rem;
}
section.intro * {
    z-index: 1;
}
@media all and (max-width: 1000px) {
    section.intro {
        padding: 2rem;
        font-size: 1.25rem;
        height: auto;
    }
    section.intro h1 {
        font-size: 3rem;
    }
}