section.card {
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    max-width: 30rem;
}

.card h3 {
    font-size: 1.25rem;
}
.card .rowOne {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
}
.card .rowThree {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem 2rem;
    align-items: center;
    column-gap: 0.5rem;
    line-height: normal;
}
.card .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card .rowFour {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem 2rem;
    text-align: center;
}